body {
    font-family: Arial, Verdana;
}
.back1{
    margin-left: ;

}
.text-bg{
    
    /* margin-right:20px; */
    /* padding-left: 40px; */
    margin-left:69%;
    
}
.jumbotron {
 background-color: B3C8CF;
 color:49243E;
}
.navbar{
 background-color:FBF8DD ;
 white-space: 20%;
}

.wellcome{
    text-align:center;
    background-color: FBF8DD;
}
.text-bg{
    background-color: white;
}
.address{
    text-align: center;
    background-color: ;
}